.comment{
	border: 1.4px solid rgb(189, 188, 188);
	margin: 10px 40px 20px 10px;
	padding: 10px 10px 40px 10px;
}

.user img{
	min-height: 70px;
	min-width: 70px;	
	max-height: 70px;
	max-width: 70px;
}

.comment .comment_content{
	font-size: 20px;
	padding-left: 80px;
	margin: 0;
}

