.list{
    display: flex;
    justify-content: flex-start;
    align-items: center;

   
    

}

.list li{
  
    margin: 10px;
    width: 200px;
    list-style: none;
    text-align: center;
    
    
}