.container{
	border: 1.4px solid rgb(189, 188, 188);
	padding: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 650px;
	width: 1000px;
}

button {
	cursor: pointer;
}

.container_detail{
	display: flex;
	flex-direction: row;
}

.container_detail .img{
	object-fit: scale-down;
	width: 55vh;
	height: 55vh;
}

.container_rigth{
	background-color: #b0aeae;
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	padding: 0 50px;	
}


.container_rigth p{
	max-width: 500px;
	font-size: 20px;
}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 70px;
	width: 100%;
}

.btn_comment{
	border: none;
	background-color:#b0aeae;
}

.buttons button, .buttons span{
	font-size: 20px;
	font-weight: 600;
	display: flex;
	align-items: center;	
}

.buttons_rigth button{
	padding: 10px;
	background: transparent;
	border: 1.4px solid rgb(189, 188, 188);

}

.buttons_rigth{
	min-width: 550px;
	display: flex;
	justify-content: space-between;
	/*align-items: baseline;*/
}



.icon {
	font-size: 40px;
	padding: 5px;
}

.buttons_rigth button:hover {
	background-color: #e9e9e9;
}

.ProfileZone
{
	display: flex;
	gap: 10px;
}

.Paypal :nth-child(1){
	top: 0;
	position: absolute;
  opacity: 0.5;
}
.Paypal{
	position: relative;
	background-color: rgb(39, 216, 119);
	height: 25px;
	width: 150px;
}

.EditButton .a
{
	text-decoration: none;
}