.FeedPage{
    margin-top: 20px;
}
.Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px;
}
.CategoryZone{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    align-items: center;
    overflow-x: hidden;
}