.container_info_profile{
	border-bottom: 1.4px solid rgb(189, 188, 188);
	padding: 20px 40px;
}

.follows{
	display: flex;
}

.follows p{
	font-size: 25px;
	margin:25px;
}

.top{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.description{
	font-size: 25px;
}


.social_media{
	font-size: 25px;
	width: fit-content;
	gap: 15px;
	display: flex;
	justify-content: space-between;
}

	.facebook{
		min-width: 45px;
		min-height: 45px;
	  	color: #0165E1;
	}

	.devianArt {
		background: #05cc47;
		color: #fff;
		padding: 10px;	
		border-radius: 50%;
		min-width: 25px;
		min-height: 25px;
	}

	.linkedin{
		background: #0072b1;
		color: #fff;
		padding: 10px;	
		border-radius: 50%;
		min-width: 25px;
		min-height: 25px;
	}
    .instagram{
		background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
		color: #fff;
		padding: 5px;	
		border-radius: 50%;
		min-width: 32.5px;
		min-height: 32.5px;
	}

.container_image{
	padding: 50px;
	max-width: 2000px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

	.img{
		max-height: 400px;
		padding: 10px;
		height: 100%;
	}


.profile
{
	display: flex;
	gap: 10px;
}