.profile{
	display: flex;
	align-items: center;
}

	.profile img{
		
		object-fit: cover;
		width: 100%;
		min-height: 100px;
		min-width: 100px;		
		max-height: 100px;
		max-width: 100px;
		border-radius:50%;
	}

	.profile p{
		font-weight: bolder;
		font-size: 25px;
		margin: 10px;
	}

	.profile button{
		cursor: pointer;
		margin:45px;
		font-size: 20px;
		font-weight: 500;
		background: transparent;
		padding: 10px;
		border: 1px solid hsl(0deg 0% 67% / 82%);
	}

	.profile button:hover{
		background-color: #e9e9e9;
	}