.container{
  margin-top: 9px;
  margin-right: 10px;
}

.search{
  height: 18px;
  border-radius: 35px;
}

.searchwrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  display: inline-flex;
  -webkit-flex-flow: row-reverse nowrap;
  -ms-flex-flow: row-reverse nowrap;
  flex-flow: row-reverse nowrap;
  width: 100%;

}
.searchwrapper .search {

  border: 1px solid #ccc;
  border: none;
  color: black;
  padding: .3rem 1rem;

  font-size: 15px;
  width: 100%;
}
.searchwrapper .search + .i {

  border: none;
  color:white;
  padding: .32rem .3rem;
  background-color: #3b4044;

}
.searchwrapper .search:focus {
  border-color: #999;
  outline: none;
}
.searchwrapper .search:focus + .i {
  border-color: #999;
}

.i{
cursor: pointer;
font-size: 18px;
margin-right: 7px;
}
