.img{
    transition: 1s all;
    object-fit:cover;
    width: 100%;
    height: 100%;
}

.container_img{
    width: 100%;
    height: 350px;
    background-color: red;
}

.button{
    position: relative;
}

.container{
    margin:30px
}