.FilterZone{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    gap: 20px;
}

.CategoryBTN{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #8f8f8f;
    font-family: Helvetica;
    font-size: 20px;
    height: 45px;
    padding: 5px 15px;
    white-space: nowrap;
}

.OrderZone{
	margin: 30px 0;
}

.OrderSelect{
    background-color: #fff;
    border: 1px solid #8f8f8f;
    font-family: Helvetica;
    font-size: 15px;
    margin: 0 10px;
    padding: 4px 15px;		
}








