.FilterZone{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    gap: 20px;
}

.CategoryBTN{
    position: relative;
  display: block;
    height: 45px;
    padding: 5px 15px;
    white-space: nowrap;
    min-width: 130px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #8d959c
 
}
.CategoryBTN:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  }
  .CategoryBTN:hover:after {
    opacity: 1;
    right: 10px;
  }
  .CategoryBTN:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }


.OrderZone{
	margin: 30px 0;
}

.OrderSelect{
    background-color: #fff;
    border: 1px solid #8f8f8f;
    font-family: Helvetica;
    font-size: 15px;
    margin: 0 10px;
    padding: 4px 15px;		
}

.OrderZone{
  display: flex;
  align-items: center;
  justify-content: center;
}