.FilterZone{
    display: flex;
    align-items: center;
    justify-content: center;
    


    gap: 20px;
 
}

.CategoryBTN{
    position: relative;
  display: block;
   font-size: 15px;
   font-weight: 100;
    height: 45px;
    padding: 5px 15px;
    white-space: nowrap;
    min-width: 130px;
    height: 40px;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    overflow: hidden;
    border: none;
  background-color: transparent;
 
 
}
.CategoryBTN:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  
  }
  .CategoryBTN:hover:after {
    opacity: 1;
    right: 10px;
  }
  .CategoryBTN:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }




.OrderSelect{
    background-color: #fff;
    border: 1px solid #8f8f8f;

    font-size: 12px;
    margin: -10px 10px;

    padding: 4px 25px;	
    background-color: transparent;
    border: 1px solid #AAA;

  
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
}

.OrderZone{
  margin-top: 7px;
  width: 200px;
}



.Container_filter{
  display: flex;
  justify-content: space-around
}