.Card{
    margin: 10px;
    display: inline-block;
    position: relative;
    height: 500px;
    min-width: 150px;
    max-width: 800px;
    object-fit: cover;
    overflow: hidden;   
}
.Image{
    height: 100%;
    text-align: left;
}

.UserName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.Card .Price{
    background-color: hsl(110deg 9% 86%);
    font-size: 15px;
    height: 20px;
    font-weight: 600;
    color:#fff;
    padding: 2px 4px;
}

.Card .Title{
    font-size: 28px;
    color:rgba(149, 147, 147, 0.829);

}


.Card .Image{
    min-width: 300px;
    max-width: 300px;
    max-height: 400px;
    min-height: 400px;
    object-fit: cover;

}

.Link{
    text-decoration: none;
}
.Left{
    display: flex;
    flex-direction: row;
}
.Left ol{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0px 8px;
}
.Right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}