@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap");

.Card{
    margin: 10px;
    display: inline-block;
    position: relative;
    height: 450px;
    min-width: 150px;
    max-width: 1280px;
    object-fit: contain;
    overflow: hidden;   
    background-color: rgb(219, 224, 223);
    
}
.Card:hover {
    filter: saturate(180%);
  }

.Image{
    height: 350px;
    text-align: left;
    opacity: 0.9;
}

.UserName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
    height: 40px;
}

.Name{
    padding: 10px 0px
}

.Card .Price{
    background-color: rgb(132, 132, 132);
    font-size: 15px;
    height: 20px;
    font-weight: 600;
    color:#fff;
    padding: 2px 4px;
}

.Card .Title{
    font-size: 28px;
    color:rgba(149, 147, 147, 0.829);
}

.Left{
    display: flex;
    flex-direction: row;
}
.Left ol{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0px 8px;
}
.Right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}