@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap");

.Card{
    margin: 10px;
    display: inline-block;
    position: relative;
    height: 270px;

    object-fit: contain;
    overflow: hidden;
 
    
    
}
.Card:hover {
    filter: saturate(180%);
  }

.Image{
    height: 270px;
    min-width: 150px;
    max-width: 400px;
    object-fit: cover;
  

}

.UserName{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row-reverse;
    height: 50px;
    background-color:#3b4044;
}

.Name{
    padding: 10px 0px
}

.Price{
    display: inline-block;

    height: 23px;
    width: 40px;
    padding: 0 0 0 10px;
    font-weight: 600;
  
    font-size: 14px;
    font-style: italic;
    color: white;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%,10% 100%);
	background-color: rgb(124, 123, 123, 0.301)
}




.title2, .name {
    margin:  0 0 0 10px;
    font-weight: 300;
    font-size: 14px;
    color: white;
 

}
