.big_image{
    object-fit: cover;
    overflow: hidden; 
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.litle_image{
    object-fit: cover;
    overflow: hidden; 
    width: 38px;
    height: 38px;
    border-radius: 100%;
}