.big_image{
    object-fit: cover;
    overflow: hidden; 
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

.litle_image{
    object-fit: cover;
    overflow: hidden; 
    width: 38px;
    height: 38px;
    border-radius: 100%;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container .text{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 8px;
}

.container .text h1{
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    color:#000;
}

.container .text span{
    font-size: 20px;
    color:hsl(0deg 1% 61%);
    
}





