@import url("https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap");

.General{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 0;
    background-color:   #fed6e3ce;
  
}
.container {
    background-color: #322d33d0;
    width: 100%;
    height: 100%;
    height: 50px;
    width: 100%;
    display: flex;
    border-bottom: 1.4px solid rgb(189, 188, 188);
}

.container_links li{
    display: inline-block;
    height: 100%;
    padding:2px  9px;
    background-color: black;
    border-radius:28px;
    color: white;
    text-align: center;
    margin-left: 10px;
    font-weight: 500;
}

.Buttons{
  text-decoration: none;
  margin-right: 0px;
  font-size: 20px;
  color: white;
  padding: 4px 25px;
  font-family: "Charm";
  cursor: pointer;

}

.Buttons:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.199);
}

.container_links{
    font-size: 13px;
    margin-left: -25px;
}


.searchBar{
    height: 100%;
    width: 300px;
    margin-right: 90px;
    margin-top: 10px;
}

.container_image{
    margin: 6px 10px;
}

.left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start
}

.right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end
}

.LowBar{
    position: relative;
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 55px;
    background-color: transparent;
    box-shadow: 0px 1px 10px  #e7c0ccce;;
}

.Filtros{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;   
}

.LowBar img{
    position: absolute;
  height: 75px;
  filter: saturate(180%);
  padding-left: 30px;
  top: 6px;
}

.Logo_skeleton{
    min-height: 70px;
    margin-left: 120px;
}
.profile_skeleton{
    min-width: 38px;
    min-height: 38px;
}