.Container
{
    display: flex;
    height: 200px;
    width: 300px;
    background: gray;
    border-radius: 20px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.Form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Input
{
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
}

.SubmitButton
{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.7);
    background: rgb(53, 53, 53);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #fff;
}

.Form p
{
    font-size: 15px;
    margin: 10px;
}

.Form a
{
    text-decoration: none;
    color: rgba(55, 0, 255, 0.575);
}

.ShowPassword
{
    display: flex;
    position: absolute;
    top: 95px;
    left: 257px;
    height: auto;
    width: auto;
    cursor: pointer;
    background: white;
    border: none;
    border-radius: 5px;
}